body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #2487ce;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #9564DA;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #522F65;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #9564DA;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

#header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #522F65;
  font-weight: 500;
}

#header .logo img {
  max-height: 40px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: #000000;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #9564DA;
  font-weight: 900;
}

.navbar .login,
.navbar .login:focus {
  background: #9564DA;
  padding: 8px 30px;
  margin-left: 30px;
  border-radius: 30px;
  color: #fff;
}

.navbar .login:hover,
.navbar .login:focus:hover {
  color: #fff;
  background: #522F65;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #2487ce;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #522F65;
}

.section-title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #7B7B7B;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  --heading-color: #ffffff;
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-color);
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
  margin-top: 80px;
}

.hero h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.hero p {
  color: var(--default-color);
  margin: 10px 0 0 0;
  font-size: 20px;
}

.hero .btn-kuesioner {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  transition: 0.4s;
  margin-top: 30px;
  border: 2px solid var(--default-color);
  color: var(--default-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.466));
}

.hero .btn-kuesioner:hover {
  background: #522F65;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.836));
  border: 0;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Definisi Section
--------------------------------------------------------------*/
.definisi img {
  position: absolute;
  width: 450px;
  height: 450px;
  margin-top: -60px;
}

.definisi .content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #522F65;
}

.definisi .content h4 {
  font-size: 22px;
  font-weight: 700;
  color: #522F65;
  margin-top: 30px;
}

.definisi .content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  color: #7B7B7B;
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Jenis
--------------------------------------------------------------*/
.jenis .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.jenis .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #9564DA;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.jenis .icon img {
  width: 50px;
  height: 50px;
  line-height: 0;
}

.jenis .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

.jenis .description {
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
  color: #7B7B7B;
}

/*--------------------------------------------------------------
# Bentuk
--------------------------------------------------------------*/
.bentuk .bentuk-item {
  margin-bottom: 30px;
}

.bentuk .bentuk-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bentuk .bentuk-wrap::before {
  content: "";
  background: #9564da88;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.bentuk .bentuk-wrap .bentuk-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bentuk .bentuk-wrap .bentuk-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.bentuk .bentuk-wrap .bentuk-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.bentuk .bentuk-wrap .bentuk-info p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  margin: 0 10px;
}

.bentuk .bentuk-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.bentuk .bentuk-wrap:hover .bentuk-info {
  opacity: 1;
}

.bentuk .bentuk-wrap:hover .bentuk-info::before {
  top: 15px;
  left: 15px;
}

.bentuk .bentuk-wrap:hover .bentuk-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Dampak
--------------------------------------------------------------*/
.dampak {
  overflow: hidden;
}

.dampak .nav-tabs {
  border: 0;
}

.dampak .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #000000;
  border-radius: 0;
  border-right: 2px solid #ebf1f6;
  font-weight: 600;
  font-size: 15px;
}

.dampak .nav-link:hover {
  color: #9564DA;
}

.dampak .nav-link.active {
  color: #522F65;
  border-color: #522F65;
  font-weight: bold;
}

.dampak .tab-pane.active {
  animation: fadeIn 0.5s ease-out;
}

.dampak .tab-pane p {
  color: #7b7b7b;
}

.dampak .tab-pane span {
  color: #9564DA;
  font-weight: bold;
}

.dampak .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #522F65;
}

.dampak .details p {
  color: #7B7B7B;
  text-align: justify;
}

.dampak .details span {
  color: #9564DA;
  font-weight: bold;
}

.dampak .details p:last-child {
  margin-bottom: 0;
}

.dampak img {
  margin-top: 100px;
}

.dampak #tab-3 img, .dampak #tab-4 img {
  margin-top: 0px;
}

@media (max-width: 992px) {
  .dampak .nav-link {
    border: 0;
    padding: 15px;
  }

  .dampak .nav-link.active {
    color: #fff;
    background: #9564DA;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .php-email-form {
  box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #9564DA;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #9564DA;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #522F65;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

  /* FOOTER */

  footer {
    display: block;
    padding-top: 30px;
    background-color: #ebebeb;
  }

  footer .footer-main{
    display: grid;
  }
  
  footer p{
    text-align: center;
    font-size: 17px;
    color: #522F65;
  }